@model Job_Broker_WebApp.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NEWS1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NEWS1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTDATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
