
@model Job_Broker_WebApp.Models.Admin

@{
    ViewBag.Title = "AdminDashBoard";
}




@{
    Layout = null;
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Admins/Autherize");
    }
}
@*<center><h2>Welcome Adminstrator: @Session["USERNAME"].ToString()</h2></center>*@

<!doctype html>
<!--

* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard | Job broker System Admin</title>
    <link href="~/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/assets/css/master.css" rel="stylesheet" />

    <link href="~/assets/vendor/chartsjs/Chart.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet" />
   
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active" style="background-color:black">
            <div class="sidebar-header">
                <img src="~/Images/templatemo_button_01.png" alt="image1" class="app-logo">
              
               
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="@Url.Action("AdminDashBoard","Admins")"><i class="fas fa-home"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#vacancymenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i>Manage Vacancies</a>
                    <ul class="collapse list-unstyled" id="vacancymenu">
                        <li>
                            <a href="@Url.Action("Create","Vacancies")"><i class="fas fa-angle-right"></i>Add Vacancies</a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("Create","Vacancies")"><i class="fas fa-angle-right"></i>Add Vacancies</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit","Vacancies")"><i class="fas fa-angle-right"></i>Update Vacancies</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Delete","Vacancies")"><i class="fas fa-angle-right"></i>Delete Vacancies</a>
                        </li>*@
                        <li>
                            <a href="@Url.Action("Index","Vacancies")"><i class="fas fa-angle-right"></i>All</a>
                        </li>
                     
                    </ul>
                </li>
                <li>
                    <a href="#companymenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-icons"></i>Manage Companies</a>
                    <ul class="collapse list-unstyled" id="companymenu">
                        <li>
                            <a href="@Url.Action("Create","Companies")"><i class="fas fa-angle-right"></i>Add Companies</a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("Create","Companies")"><i class="fas fa-angle-right"></i>Add Companies</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit","Companies")"><i class="fas fa-angle-right"></i>Update Companies</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Delete","Companies")"><i class="fas fa-angle-right"></i>Delete Companies</a>
                        </li>*@
                        <li>
                            <a href="@Url.Action("Index","Companies")"><i class="fas fa-angle-right"></i>All</a>
                        </li>
                      
                    </ul>
                </li>
                <li>
                    <a href="#jobmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-chart-bar"></i>Manage Jobs</a>
                    <ul class="collapse list-unstyled" id="jobmenu">
                        <li>
                            <a href="@Url.Action("Create","Jobs")"><i class="fas fa-angle-right"></i>Create Jobs</a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("Create","Jobs")"><i class="fas fa-angle-right"></i>Add Jobs</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit","Jobs")"><i class="fas fa-angle-right"></i>Update Jobs</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Delete","Jobs")"><i class="fas fa-angle-right"></i>Delete Jobs</a>
                        </li>*@
                        <li>
                            <a href="@Url.Action("Index","Jobs")"><i class="fas fa-angle-right"></i>All</a>
                        </li>
                      
                    </ul>
                </li>
                <li>
                    <a href="#applicantmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-table"></i>Manage Applicants</a>
                    <ul class="collapse list-unstyled" id="applicantmenu">
                        <li>
                            <a href="@Url.Action("Create","Applicants")"><i class="fas fa-angle-right"></i>View Applicants</a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("Create","Applicants")"><i class="fas fa-angle-right"></i>Add Applicants</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit","Applicants")"><i class="fas fa-angle-right"></i>Update Applicants</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Delete","Applicants")"><i class="fas fa-angle-right"></i>Delete Applicants</a>
                        </li>*@
                        <li>
                            <a href="@Url.Action("Index","Applicants")"><i class="fas fa-angle-right"></i>All</a>
                        </li>
                      
                    </ul>
                </li>
              
                <li>
                    <a href="#partnermenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-file-alt"></i>Manage Partnerships</a>
                    <ul class="collapse list-unstyled" id="partnermenu">
                        <li>
                            <a href="@Url.Action("Create","Partnerships")"><i class="fas fa-angle-right"></i>View Members</a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("Create","Partnerships")"><i class="fas fa-angle-right"></i>Add Partners</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit","Partnerships")"><i class="fas fa-angle-right"></i>Update Partners</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Delete","Partnerships")"><i class="fas fa-angle-right"></i>Delete Partners</a>
                        </li>*@
                        <li>
                            <a href="@Url.Action("Index","Partnerships")"><i class="fas fa-angle-right"></i>All</a>
                        </li>
                      
                    </ul>
                </li>
                <li>
                    <a href="#categorymenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-table"></i>Manage Category</a>
                    <ul class="collapse list-unstyled" id="categorymenu">
                        <li>
                            <a href="@Url.Action("Create","Categories")"><i class="fas fa-newspaper"></i>Create New</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Categories")"><i class="fas fa-list"></i>All</a>
                        </li>
                       
                    </ul>
                </li>
                @*<li>
                    <a href="@Url.Action("Index","Categories")"><i class="fas fa-user-friends"></i>Manage Category</a>
                </li>*@
                <li>
                    <a href="#authmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-user-shield"></i> Authentication</a>
                    <ul class="collapse list-unstyled" id="authmenu">
                        <li>
                            <a href="@Url.Action("Index","Admins")"><i class="fas fa-lock"></i>Admin</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create","Registers")"><i class="fas fa-user-plus"></i> Add users account</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AdminDashBoard","Admins")"><i class="fas fa-user-lock"></i> Change password</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#othermenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-copy"></i>Others</a>
                    <ul class="collapse list-unstyled" id="othermenu">
                        <li>
                            <a href="@Url.Action("Index","News")"><i class="fas fa-file"></i>Manage News</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Comments")"><i class="fas fa-info-circle"></i>Manage Comments</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Reports")"><i class="fas fa-info-circle"></i>Reports</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index","Registers")"><i class="fas fa-user-friends"></i>Users</a>
                </li>
                <li>
                    <a href="@Url.Action("Settings","Home")"><i class="fas fa-cog"></i>Settings</a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <nav class="navbar navbar-expand-lg navbar-blue bg-blue">
                <button type="button" id="sidebarCollapse" class="btn btn-light"><i class="fas fa-bars"></i><span></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <center><h2>&nbsp;&nbsp;- JOB BROKER SYSTEM ADMIN - </h2></center>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-link"></i> <span>Quick Access</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                                <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="@Url.Action("Index","Vacancies")" class="dropdown-item"><i class="fas fa-list"></i> Posted vacancies</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="@Url.Action("Index","CompaPayments")" class="dropdown-item"><i class="fas fa-database"></i> Paid Employer</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="@Url.Action("Index","ApplPayments")" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Paid Job seeker</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="@Url.Action("Index","Reports")" class="dropdown-item"><i class="fas fa-user-shield"></i> Reports</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-user"></i> <span>@Session["USERNAME"].ToString()</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                                <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="@Url.Action("AdminDashBoard","Admins")" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        <li><a href="@Url.Action("Index","Comments")" class="dropdown-item"><i class="fas fa-envelope"></i>Comments</a></li>
                                        <li><a href="@Url.Action("Index","News")" class="dropdown-item"><i class="fas fa-cog"></i> News</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="@Url.Action("LogOut","Admins")" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="content" style="background-color:cyan">

           
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle">Overview</div>
                            <h2 class="page-title">Admin Home</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="teal fas fa-shopping-cart"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Job seekers</p>
                                                <span class="number">6,267</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i> For this Week
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="olive fas fa-money-bill-alt"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Employers</p>
                                                <span class="number">$180,900</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i> For this Month
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="violet fas fa-eye"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Vacancies</p>
                                                <span class="number">28,210</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-stopwatch"></i> For this Month
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="orange fas fa-envelope"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Jobs</p>
                                                <span class="number">75</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-envelope-open-text"></i> For this week
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    @*<div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="content">
                                            <div class="head">
                                                <h5 class="mb-0">Jobs Overview</h5>
                                                <p class="text-muted">Current year website visitor data</p>
                                            </div>
                                            <div class="canvas-wrapper">
                                                <canvas class="chart" id="trafficflow"></canvas>
                                            </div>
                                            <div class="ui hidden divider"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="content">
                                            <div class="head">
                                                <h5 class="mb-0">Vacancies Overview</h5>
                                                <p class="text-muted">Current year sales data</p>
                                            </div>
                                            <div class="canvas-wrapper">
                                                <canvas class="chart" id="sales"></canvas>
                                            </div>
                                            <div class="ui hidden divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@



                        @*<div class="col-md-6">
                            <div class="card">
                                <div class="content">
                                    <div class="head">
                                        <h5 class="mb-0">Top Jobs by Category</h5>
                                        <p class="text-muted">Current registered job data</p>
                                    </div>
                                    <div class="canvas-wrapper">
                                        <table class="table no-margin bg-lighter-grey">
                                            <thead class="success">
                                                <tr>
                                                    <th>Jobs</th>
                                                    <th class="text-right">Job Categories</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-us"></i> United States</td>
                                                    <td class="text-right">27,340</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-in"></i> India</td>
                                                    <td class="text-right">21,280</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-jp"></i> Japan</td>
                                                    <td class="text-right">18,210</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-gb"></i> United Kingdom</td>
                                                    <td class="text-right">15,176</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-es"></i> Spain</td>
                                                    <td class="text-right">14,276</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-de"></i> Germany</td>
                                                    <td class="text-right">13,176</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-br"></i> Brazil</td>
                                                    <td class="text-right">12,176</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-id"></i> Indonesia</td>
                                                    <td class="text-right">11,886</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-ph"></i> Philippines</td>
                                                    <td class="text-right">11,509</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-nz"></i> New Zealand</td>
                                                    <td class="text-right">1,700</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>*@



                        @*<div class="col-md-6">
                            <div class="card">
                                <div class="content">
                                    <div class="head">
                                        <h5 class="mb-0">Vacancies Post by Company Name</h5>
                                        <p class="text-muted">Current year website visitor data</p>
                                    </div>
                                    <div class="canvas-wrapper">
                                        <table class="table no-margin bg-lighter-grey">
                                            <thead class="success">
                                                <tr>
                                                    <th>Company Name</th>
                                                    <th class="text-right">Vacancies</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>/about.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">8,340</td>
                                                </tr>
                                                <tr>
                                                    <td>/special-promo.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">7,280</td>
                                                </tr>
                                                <tr>
                                                    <td>/products.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">6,210</td>
                                                </tr>
                                                <tr>
                                                    <td>/documentation.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">5,176</td>
                                                </tr>
                                                <tr>
                                                    <td>/customer-support.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">4,276</td>
                                                </tr>
                                                <tr>
                                                    <td>/index.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">3,176</td>
                                                </tr>
                                                <tr>
                                                    <td>/products-pricing.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">2,176</td>
                                                </tr>
                                                <tr>
                                                    <td>/product-features.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">1,886</td>
                                                </tr>
                                                <tr>
                                                    <td>/contact-us.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">1,509</td>
                                                </tr>
                                                <tr>
                                                    <td>/terms-and-condition.html <a href="#"><i class="fas fa-link blue"></i></a></td>
                                                    <td class="text-right">1,100</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>*@


                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="dfd text-center">
                                            <i class="blue large-icon mb-2 fas fa-thumbs-up"></i>
                                            <h4 class="mb-0">+21,900</h4>
                                            <p class="text-muted">FACEBOOK PAGE LIKES</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="dfd text-center">
                                            <i class="orange large-icon mb-2 fas fa-reply-all"></i>
                                            <h4 class="mb-0">+22,566</h4>
                                            <p class="text-muted">TWITTER FOLLOWERS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="dfd text-center">
                                            <i class="grey large-icon mb-2 fas fa-envelope"></i>
                                            <h4 class="mb-0">+15,566</h4>
                                            <p class="text-muted">NEWS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="dfd text-center">
                                            <i class="olive large-icon mb-2 fas fa-dollar-sign"></i>
                                            <h4 class="mb-0">+98,601</h4>
                                            <p class="text-muted">COMMENTS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <script src="~/assets/vendor/jquery/jquery.min.js"></script>

    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/vendor/chartsjs/Chart.min.js"></script>
    <script src="~/assets/js/dashboard-charts.js"></script>
   
    <script src="~/assets/js/script.js"></script>
</body>

</html>









@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1></h1>
        <h3>Welcome Adminstrator : @Session["USERNAME"].ToString()</h3>
        <a href="@Url.Action("LogOut","Admins")">LogOut</a>
    </div>
    <div>
        <ul>
            <li><a>@Html.ActionLink("Manage Company", "Index", "Companies")</a></li>
            <li><a>@Html.ActionLink("Manage Vacancy", "Index", "Vacancies")</a></li>
            <li><a>@Html.ActionLink("View About", "About", "Home")</a></li>
            <li><a>@Html.ActionLink("Manage Contact", "Contact", "Home")</a></li>
            <li><a>@Html.ActionLink("Admin Info", "Index", "Admins")</a></li>
            <li class="pull-right"><a>@Html.ActionLink("Help Manager", "Index", "Home")</a></li>
        </ul>
    </div>
</body>
</html>*@

