
@*<head>

</head*@>


    <div id="templatemo_header_wrapper" class="navbar navbar-fixed-top">
        <div id="templatemo_header">

            <div id="site_logo"></div>

            <div id="templatemo_menu">
                <div id="templatemo_menu_left"></div>
                <ul>
                    <li class="current">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Job stack", "Index", "Jobs")</li>
                    <li>@Html.ActionLink("Company", "Index", "Companies")</li>
                    <li>@Html.ActionLink("Vacancy", "Index", "Vacancies")</li>
                    <li>@Html.ActionLink("Category", "Index", "Categories")</li>

                    <li class="last">@Html.ActionLink("Help(ዕርዳታ ይፈልጋሉ?)", "help", "Home")</li>
                </ul>
            </div>
        </div>
    </div>


                @*<li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/Services">Services</a></li>
                <li><a href="~/Home/Gallery">Gallery</a></li>
                <li><a href="~/Home/Company">Company</a></li>
                <li><a href="~/Home/Contact">Contact</a></li>*@ 
