@model Job_Broker_WebApp.Models.Applicant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VAC_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAC_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUALIFICATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUALIFICATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPERIENCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPERIENCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KEBELEID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KEBELEID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMARK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMARK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Register.FNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Register.FNAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
