@model Job_Broker_WebApp.Models.Register

@{
    ViewBag.Title = "ResetPassword";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@*<h2>Reset (ሲመዘገቡ የሞሉትን የምስጥር ጥያቄ)</h2>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset Password</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Admin/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Admin/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Admin/plugins/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/Admin/dist/css/admin-lte.css" rel="stylesheet" />
    <link href="~/Admin/plugins/icheck/css/sqare/blue.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="@Url.Action("ResetPassword", "Home")"><strong style="color:green">Reset Password !</strong><br />@*<strong>Welcome!!</strong><br /><b>Change Password!</b>*@</a>

        </div>

        <div class="register-box-body">
            <p class="login-box-msg" style="color:blueviolet">Fill correct information to Reset your password</p>

            @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.USERNAME, new { @class = "form-control", type = "text", placeholder = "User name" })
                    @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.LabelFor(m => m.QUEST)<br />
                    @Html.DropDownList("QUEST", new List<SelectListItem>
           { new SelectListItem { Text= "What is your nick name?", Value= "What is your nick name?", Selected=true },
             new SelectListItem  {Text="What is your hobby?", Value="What is your hobby?" },
             new SelectListItem {Text="Who is your best friend?", Value="Who is your best friend?" }
           }, "Select question")
                    @Html.ValidationMessageFor(model => model.QUEST, "", new { @class = "text-danger" })
                    <span class="form-control-feedback"></span>
                </div>

                                    <div class="form-group has-feedback">
                                        @Html.TextBoxFor(m => m.ANS, new { @class = "form-control", type = "text", placeholder = "Answer(የምስጥር መልስዎ)" })
                                        @Html.ValidationMessageFor(model => model.ANS, "", new { @class = "text-danger" })
                                        <span class="form-control-feedback"></span>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-xs-4">


                                        </div>
                                        <div class="col-xs-4">
                                            @*<button class="btn btn-default btn-block btn-flat">@Html.ActionLink("List", "Index")</button>*@
                                            <input type="submit" class="btn btn-default" />

                                        </div>
                                        <div class="col-xs-4">

                                        </div>
                                    </div>


            }
            <div class="row">
                <div class="col-xs-6">
                    <br />
                    <button class="btn btn-default btn-block btn-flat" style="color:white">@Html.ActionLink("Back Main page", "Index", "Home")</button>

                </div>
                @*<div class="col-xs-4">


                    </div>*@
                <div class="col-xs-6">
                    <br />
                    <button class="btn btn-default btn-block btn-flat">@Html.ActionLink("Log in", "Login", "Home")</button>
                </div>
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")

            }



        </div>

    </div>


    <script src="~/Admin/plugins/jquery/js/jQuery-2.1.4.min.js"></script>
    <script src="~/Admin/bootstrap/js/bootstrap.js"></script>
    <script src="~/Admin/plugins/icheck/js/icheck.js"></script>
    <script src="~/Admin/plugins/jquery-validate/js/jquery.validate.js"></script>
    <script src="~/Scripts/Account/Login.js"></script>

    <script src="~/Scripts/Account/Register.js"></script>
</body>
</html>
