@model Job_Broker_WebApp.Models.Register

@{
    ViewBag.Title = "UserDashBoard";
}

@*<center><h2>Job Broker User DashBoard</h2></center>*@


@{
    Layout = null;
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}
@*<center><h2>Welcome: Dear. @Session["USERNAME"].ToString()</h2></center>*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Broker | User Profile</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
   
    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-blue navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("UserDashBoard","Home")" class="nav-link">My Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index","Home")" class="nav-link">Go to Main page </a>
                </li>
            </ul>
            <center><h2>Welcome: Dear. @Session["USERNAME"].ToString()</h2></center>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
               
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/dist/img/user2-160x160.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                       Employer: Abrham
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I enjoyed job broker website...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                               
                                <img src="~/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Employer: Alemayehu
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got good candidate throuh job broker</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                
                                <img src="~/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Job seeker: beti
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Debub Job broker is my job let</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("CommentList","Comments")" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("NewsList","News")" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 news
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("UserDashBoard","Home")" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 0 approvals
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("ReportList","Reports")" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new notice
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("UserDashBoard","Home")" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("UserDashBoard","Home")" class="brand-link">
                <img src="~/Images/1.png" alt="Broker Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Debub JB</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        
                        <img src="~/Images/1625299298481.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@Session["USERNAME"].ToString()</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    Home
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("UserDashBoard","Home")" class="nav-link">
                                        <i class="far fa-user nav-icon"></i>
                                        <p>Update Profile</p>
                                    </a>
                                </li>
                              
                                <li class="nav-item">
                                    <a href="@Url.Action("ChangePassword","Home")" class="nav-link">
                                        <i class="far fa-edit nav-icon"></i>
                                        <p>Change password</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("LogOut","Home")" class="nav-link">
                                        <i class="fa fa-lock nav-icon"></i>
                                        <p>Log out</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i ></i>
                                <p>
                                    Main
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Create","Comments")" class="nav-link">
                                        <i class="far fa-comment nav-icon"></i>
                                        <p>Put Comment</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Create","ApplPayments")" class="nav-link">
                                        <i class="far fa-money-bill nav-icon"></i>
                                        <p>Payment</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("ApplicantList","Applicants")" class="nav-link">
                                        <i class="far fa-journal-whills nav-icon"></i>
                                        <p>My Application</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("CompanyList","Companies")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    View Company
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("JobStack","Jobs")" class="nav-link">
                                <i class="nav-icon fas fa-journal-whills"></i>
                                <p>
                                    View Jobs
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("VacancyList","Vacancies")" class="nav-link">
                                <i class="nav-icon fas fa-sticky-note"></i>
                                <p>
                                    View Vacancies
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                      
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Others
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Settings","Home")" class="nav-link">
                                        <i class="fa fa-adjust nav-icon"></i>
                                        <p>Setting</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("About","Home")" class="nav-link">
                                        <i class="far fa-comment nav-icon"></i>
                                        <p>About</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Contact","Home")" class="nav-link">
                                        <i class="far fa-address-book nav-icon"></i>
                                        <p>Contact</p>
                                    </a>
                                </li>
                               
                               
                            </ul>
                        </li>
                     <li class="nav-header">POSTS</li>
                        <li class="nav-item">
                            <a href="@Url.Action("NewsList","News")" class="nav-link">
                                <i class="nav-icon fas fa-newspaper"></i>
                                <p>
                                    News
                                    <span class="badge badge-info right">2</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ReportList","Reports")" class="nav-link">
                                <i class="nav-icon far fa-file"></i>
                                <p>
                                    Notifications
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content style="background:url(~/Images/jbbanner1.png)"-->
        <div class="content-wrapper" style="background-color:darkcyan">

            @*<img src="~/Images/jbbanner1.png" />*@
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">My Profile</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Job broker</a></li>
                                <li class="breadcrumb-item active">My home</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">

                               <div class="col-lg-6" >
                            <div class="card" >
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">Column name</h3>
                                        <a href="javascript:void(0);">Your Information</a>
                                    </div>
                                </div>
                                <div class="card-body" style="background-color:cyan">
                                    <div class="d-flex">
                                        <p class="d-flex flex-column">
                                            <span class="text-bold text-lg">First name</span><br />
                                            <span class="text-bold text-lg">Last name</span><br />
                                            <span class="text-bold text-lg">Region</span><br />
                                            <span class="text-bold text-lg">Zone</span><br />
                                            <span class="text-bold text-lg">Town</span>
                                        </p>
                                        <p class="ml-auto d-flex flex-column text-right">
                                            <span class="text-bold text-lg">@Session["FNAME"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["LNAME"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["REGION"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["ZONE"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["TOWN"].ToString()</span>
                                           
                                        </p>
                                    </div>

                                 
                                </div>
                            </div>
                            <!-- /.card -->

                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">Column name</h3>
                                        <a href="javascript:void(0);">Your Information</a>
                                    </div>
                                </div>
                                <div class="card-body" style="background-color:gold">
                                    <div class="d-flex">
                                        <p class="d-flex flex-column">
                                            <span class="text-bold text-lg">User name</span><br />
                                            <span class="text-bold text-lg">Password</span><br />
                                            <span class="text-bold text-lg">Security question</span><br />
                                            <span class="text-bold text-lg">Security answer</span>

                                        </p>
                                        <p class="ml-auto d-flex flex-column text-right">
                                            <span class="text-bold text-lg">@Session["FNAME"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["LNAME"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["REGION"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["ZONE"].ToString()</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col-md-6 -->





                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">Column name</h3>
                                        <a href="javascript:void(0);">Your Information</a>
                                    </div>
                                </div>
                                <div class="card-body" style="background-color:gold">
                                    <div class="d-flex">
                                       
                                        <p class="d-flex flex-column">
                                            <span class="text-bold text-lg">Kebele</span><br />
                                            <span class="text-bold text-lg">Email</span><br />
                                            <span class="text-bold text-lg">Phone</span><br />
                                            <span class="text-bold text-lg">Sex</span><br />
                                            <span class="text-bold text-lg">Date of birth</span>
                                        </p>
                                        <p class="ml-auto d-flex flex-column text-right">
                                            <span class="text-bold text-lg">@Session["KEBELE"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["EMAIL"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["PHONE"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["SEX"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["DOB"].ToString()</span>

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->

                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">Column name</h3>
                                        <a href="javascript:void(0);">Your Information</a>
                                    </div>
                                </div>
                                <div class="card-body" style="background-color:cyan">
                                    <div class="d-flex">
                                        <p class="d-flex flex-column">
                                            <span class="text-bold text-lg">Role</span><br />
                                            <span class="text-bold text-lg">Registration date</span><br />
                                            <span class="text-bold text-lg">Account deactivation date</span><br />
                                            <span class="text-bold text-lg">Account status</span>
                                           
                                        </p>
                                        <p class="ml-auto d-flex flex-column text-right">
                                            <span class="text-bold text-lg">@Session["ROLE"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["REGDATE"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["ACCEXPDATE"].ToString()</span><br />
                                            <span class="text-bold text-lg">@Session["STATUS"].ToString()</span>
                                           

                                        </p>
                                    </div>

                                
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col-md-6 -->
                       </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year -<a href="@Url.Action("UserDashBoard","Home")">Debub Job Broker Application</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>tekaberako475@gmail.com</b>
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
   
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
   
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
   
    <script src="~/dist/js/adminlte.js"></script>
    <!-- OPTIONAL SCRIPTS -->
   
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
   
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
   
    <script src="~/dist/js/pages/dashboard3.js"></script>
</body>
</html>
